@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

:root::view-transition-old(root) {
  z-index: 2147483646;
}

:root::view-transition-new(root) {
  z-index: 1;
}

:root.dark::view-transition-old(root) {
  z-index: 1;
}

:root.dark::view-transition-new(root) {
  z-index: 2147483646;
}
